@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin: 0;
}

.page-header {
  width: 1160px;
  min-height: 300px;
  background-color: #FFE17F;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
}

.slider-container {
  width: 560px;
  height: 560px;
  display: flex;
}

.slider {
  position: relative;
}

.sliders-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.slider-image {
  display: block;
}

.slider-button {
  width: 20px;
  height: 60px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  background-image: url("../images/slider-button.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-prev {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
